@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
  height: 450px;
  width: 250px;
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sect {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-section {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: auto;
}

.text {
  font-size: 13px;
  font-weight: lighter;
  color: hsl(215, 51%, 70%);
}

.title:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.time {
  color: hsl(215, 51%, 70%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.eth {
  color: hsl(178, 100%, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ethTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.line {
  color: hsl(215, 51%, 70%);
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
}

.avatar {
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 50%;
}

.creator {
  color: hsl(215, 51%, 70%);
  padding-right: 3px;
  padding-left: 12px;
}

.pd {
  padding-right: 5px;
}

.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.image-section:hover {
  cursor: pointer;
  background-color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(178, 100%, 50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: hsl(178, 100%, 50%);
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sect:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 15px;
}
